<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.alexdalton.jira"
      android:versionName="0.81" android:versionCode="9">
    <application 
    	android:name="org.alexdalton.jira.JiraApp" 
    	android:icon="@drawable/icon" 
    	android:label="@string/app_name" 
    	android:theme="@style/MyTheme" 
    	android:debuggable="true"
    	>
        <activity android:name=".ServerList"
                  android:label="@string/app_name"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EditServer"
                  android:label="Add/Edit Server">
        </activity>
        <activity android:name=".JiraFilters"
                  android:label="Filter List">
        </activity>
        <activity android:name=".JiraPreferences"
                  android:label="@string/preferences">
        </activity>
        <activity android:name=".CreateIssue"
                  android:label="Create Issue">
        </activity>
        <activity android:name=".IssueList"
                  android:label="Issue List">
        </activity>
        <activity android:name=".Search"
                  android:label="Issue Search">
        </activity>
        <activity android:name=".IssueDetails"
                  android:label="Issue Details">
        </activity>
        <activity android:name=".About"
                  android:label="About">
        </activity>
        



    </application>


<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:targetSdkVersion="4" android:minSdkVersion="4"></uses-sdk>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
</manifest> 
